<footer class="app-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h5 class="footer-title">Remember Me</h5>
            <p class="footer-description">Onora il ricordo dei tuoi cari attraverso la nostra piattaforma digitale.</p>
            <p class="copyright">
                © {{ currentYear }} CR WebStudio. Tutti i diritti riservati.
            </p>
            <p class="made-with">
                Made with <i class="bi bi-heart-fill"></i>  by Igor Cassano £ Dario Racca 
            </p>
        </div>
    </div>
</footer>
